<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735954816599-1lc229dpp4hvph3ma4cgfqcastkt637l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735954816599-1lc229dpp4hvph3ma4cgfqcastkt637l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735954816599-ubh6fh2frv09556hp6oo1s4civ6vdr72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6hQon9nVx8YfqiODyZ9VnVdP8bnh7sOE</string>
	<key>GCM_SENDER_ID</key>
	<string>735954816599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meincluyoapp2020.app</string>
	<key>PROJECT_ID</key>
	<string>me-incluyo-265023</string>
	<key>STORAGE_BUCKET</key>
	<string>me-incluyo-265023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735954816599:ios:f8518cae5ed86e5fcb5d12</string>
	<key>DATABASE_URL</key>
	<string>https://me-incluyo-265023.firebaseio.com</string>
</dict>
</plist>